* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug {
  border: 1px solid black;
}
.vew-type {
  /* display: flex;
    justify-content: flex-end;
    flex-direction: row ;  */
  position: fixed;
  top: 0;
  right: 0;
  height: 60px;
}
main {
  height: 150vh;
  margin-top: 60px;
  margin-bottom: 60px;
}
.main-flex-box {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 5px;
  align-items: center;
}
.container p {
  bottom: 5px;
  left: 0px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.322);
  color: white;
  font-size: 12px;
}
.main-flex-box img {
  width: 200px;
  height: 100px;
}
.container {
  position: relative;
}
